.bb {
    background-image: url("../assets/images/board/bb.png");
}
.bk {
    background-image: url("../assets/images/board/bk.png");
}
.bn {
    background-image: url("../assets/images/board/bn.png");
}
.bp {
    background-image: url("../assets/images/board/bp.png");
}
.bq {
    background-image: url("../assets/images/board/bq.png");
}
.br {
    background-image: url("../assets/images/board/br.png");
}
.wb {
    background-image: url("../assets/images/board/wb.png");
}
.wk {
    background-image: url("../assets/images/board/wk.png");
}
.wn {
    background-image: url("../assets/images/board/wn.png");
}
.wp {
    background-image: url("../assets/images/board/wp.png");
}
.wq {
    background-image: url("../assets/images/board/wq.png");
}
.wt {
    background-image: url("../assets/images/board/wt.png");
}

.fig {
    position: absolute;
    top: 0;
    left: 0;
    width: 12.5%;
    height: 12.5%;
    padding-top: 12.5%;
    background-size: 100%;
    cursor: grab;
    cursor: -webkit-grab;
    will-change: transform;
    /* animation: 2s start ease; */
}
.fig:active {
    /* background-color: rgba(0, 0, 0, 0.267); */
}
/* @keyframes start {
    from {transform: translateX(-175%);}
} */