.fullscreen {
    height: 100%;
    width: 100%;
}

.fullscreen__btn {
    position: absolute;
    top: 0.5%;
    right: calc(0.5% + 15px);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+PGcgZmlsbD0iIzZCNkI2QiI+PHBhdGggZD0iTTE2LjE0IDcuODZMMTQuMjcgNkgyMHY1LjdsLTEuODMtMS44MkwxNS4wNCAxMyAxMyAxMC45OGwzLjEzLTMuMTN6bTAgME05Ljg2IDE4LjE0TDExLjczIDIwSDZ2LTUuN2wxLjgzIDEuODJMMTAuOTYgMTMgMTMgMTUuMDJsLTMuMTMgMy4xM3ptMCAwIi8+PC9nPjwvc3ZnPg==');
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.fullscreen:fullscreen {
    display: flex !important;
}

.fullscreen:fullscreen .fullscreen__wrapper {
    width: 55%;
    margin: auto;
}

.fullscreen:fullscreen .fullscreen__btn {
    background-image: url("../assets/images/arrow.png");
    background-size: contain;
    top: 1.5%;
    right: calc(22% + 13px);
}

@media (max-width: 768px) {
    .fullscreen {
        padding-bottom: 15px;
    }
}